body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #FFFFFF;
    color : #333;
}

h1 {
    color:#000000;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
}

form {
    margin: 20px 0;
}

form input, form select {
    margin: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
